<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie ćwiczenia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<nav>
    <ul>
                <li><a th:href="@{/userpanel/{id}(id=${id})}" th:text="'Powrót'"></a></li>
    </ul>
</nav>
<div class="form-container">
    <form method="post" th:action="@{/exercise/add}" th:object="${exercise}">
        <h3>Dodawanie ćwiczenia</h3>
        <div id="error-message" th:text="${exerciseNameAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-exerciseName">Nazwa ćwiczenia</label>
            <input type="text" id="input-exerciseName" name="exerciseName" th:field="*{exerciseName}" required>
        </div>
        <div id="error-message2" th:text="${addressUrlAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-url">Url</label>
            <input type="text" id="input-url" name="exerciseName" th:field="*{url}" required>
        </div>
        <div class="form-group">
            <label for="input-description">Opis</label>
            <input type="text" id="input-description" name="description" th:field="*{description}" required>
        </div>
        <div class="form-group">
            <label for="input-exercisePoints">Opis</label>
            <input type="text" id="input-exercisePoints" name="exercisePoints" th:field="*{exercisePoints}" required>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
</body>
</html>

