<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz imprez</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            font-family: , sans-serif;
            line-height: 1.6;
        }
    </style>
</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="main-navigation" style="justify-content: flex-start">
                    <nav class="header-menu">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="main-navigation">
                    <nav class="header-menu">
                        <ul class="menu">
                            <li><a href="/user/login">Logowanie</a></li>
                            <li><a href="/user/new">Rejestracja</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container" style="padding-top: 70px; padding-bottom: 40px">
        <div class="event">
            <h2>RUNMAGEDDON BYDGOSZCZ</h2>
            <p>24.06.2023</p>
            <div class="event-details">
                <h3>DOSTĘPNE FORMUŁY:</h3>
                <div class="event-formulas">
                    <div class="event-formula">INTRO 3 KM | 15 Przeszkód</div>
                    <div class="event-formula">REKRUT 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">NOCNY REKRUT BY KOLBA.PL 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">CLASSIC 12 KM | 50+ Przeszkód</div>
                    <div class="event-formula">KIDS 1 KM | 10 Przeszkód</div>
                    <div class="event-formula">JUNIOR 3 KM | 15+ Przeszkód</div>
                    <div class="event-formula">FAMILY BY FLIS 2 KM | 15+ Przeszkód</div>
                </div>
            </div>
            <a href="https://www.runmageddon.pl/imprezy/runmageddon-bydgoszcz-24-06-2023" class="btn"
               target="_blank">ZOBACZ SZCZEGÓŁY</a>
        </div>
        <div class="event">
            <h2>RUNMAGEDDON GLADIATOR RACE HARRACHOV</h2>
            <p>22/23.07.2023</p>
            <div class="event-details">
                <h3>DOSTĘPNE FORMUŁY:</h3>
                <div class="event-formulas">
                    <div class="event-formula">REKRUT 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">HARDCORE 21 KM | 70 Przeszkód</div>
                    <div class="event-formula">ULTRA 42 KM | 140 Przeszkód</div>
                    <div class="event-formula">GAMES 0.1 KM | 10 Przeszkód</div>
                    <div class="event-formula">KIDS / JUNIOR 1 KM | 10 Przeszkód</div>
                    <div class="event-formula">TRAIL 11 KM | 0 Przeszkód</div>
                    <div class="event-formula">TRAIL 22 KM | 0 Przeszkód</div>
                </div>
            </div>
            <a href="https://www.runmageddon.pl/imprezy/runmageddon-gladiator-race-harrachov-22-07-2023" class="btn"
               target="_blank">ZOBACZ SZCZEGÓŁY</a>
        </div>
        <div class="event">
            <h2>RUNMAGEDDON OSTROŁĘKA</h2>
            <p>05.08.2023</p>
            <div class="event-details">
                <h3>DOSTĘPNE FORMUŁY:</h3>
                <div class="event-formulas">
                    <div class="event-formula">INTRO 3 KM | 15 Przeszkód</div>
                    <div class="event-formula">REKRUT 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">KIDS 1 KM | 10 Przeszkód</div>
                    <div class="event-formula">JUNIOR 3 KM | 15+ Przeszkód</div>
                </div>
            </div>
            <a href="https://www.runmageddon.pl/imprezy/runmageddon-ostroleka-05-08-2023" class="btn" target="_blank">ZOBACZ
                SZCZEGÓŁY</a>
        </div>
        <div class="event">
            <h2>RUNMAGEDDON WROCŁAW</h2>
            <p>26/27.08.2023</p>
            <div class="event-details">
                <h3>DOSTĘPNE FORMUŁY:</h3>
                <div class="event-formulas">
                    <div class="event-formula">INTRO 3 KM | 15 Przeszkód</div>
                    <div class="event-formula">REKRUT 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">NOCNY REKRUT BY KOLBA.PL 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">CLASSIC 12 KM | 50+ Przeszkód</div>
                    <div class="event-formula">KIDS 1 KM | 10 Przeszkód</div>
                    <div class="event-formula">JUNIOR 3 KM | 15+ Przeszkód</div>
                    <div class="event-formula">FAMILY BY FLIS 2 KM | 15+ Przeszkód</div>
                </div>
            </div>
            <a href="https://www.runmageddon.pl/imprezy/runmageddon-wroclaw-26-08-2023" class="btn" target="_blank">ZOBACZ
                SZCZEGÓŁY</a>
        </div>
        <div class="event">
            <h2>RUNMAGEDDON TRÓJMIASTO</h2>
            <p>09/10.09.2023</p>
            <div class="event-details">
                <h3>DOSTĘPNE FORMUŁY:</h3>
                <div class="event-formulas">
                    <div class="event-formula">INTRO 3 KM | 15 Przeszkód</div>
                    <div class="event-formula">REKRUT 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">NOCNY REKRUT BY KOLBA.PL 6 KM | 30+ Przeszkód</div>
                    <div class="event-formula">CLASSIC 12 KM | 50+ Przeszkód</div>
                    <div class="event-formula">KIDS 1 KM | 10 Przeszkód</div>
                    <div class="event-formula">JUNIOR 3 KM | 15+ Przeszkód</div>
                    <div class="event-formula">FAMILY 2 KM | 15+ Przeszkód</div>
                </div>
            </div>
            <a href="https://www.runmageddon.pl/imprezy/runmageddon-trojmiasto-09-09-2023" class="btn" target="_blank">ZOBACZ
                SZCZEGÓŁY</a>
        </div>
    </section>
</main>
</body>
</html>