<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przykładowy zestaw ćwiczeń</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <style>
        header {
            background-image: url('https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/template_background/44380/a6e9ca3112fda15ca98cbba9f428660e.jpg');
            background-size: cover;
            background-position: center;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 100px;
        }
    </style>
<body>


<header>
    <h1>Przykładowy zestaw ćwiczeń</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Powrót</a></li>
        <li><a href="/user/login">Logowanie</a></li>
        <li><a href="/user/new">Rejestracja użytkownika</a></li>
        <li><a href="/calendar">Kalendarz imprez</a></li>
        <li><a href="/info">O nas</a></li>
    </ul>
</nav>
<div style="background-color: #F7D3C1; padding: 10px; border-radius: 5px;">
    <h2 style="color: #4E4E4E; text-align: center;">Witaj w naszym demo zestawie ćwiczeń!</h2>
    <p style="color: #4E4E4E; text-align: justify;">Cieszymy się, że zainteresowałeś/aś się naszym zestawem ćwiczeń! Chcielibyśmy poinformować, że prezentowany przez nas zestaw to jedynie wersja demo, która zawiera podstawowe funkcjonalności.</p>
    <p style="color: #4E4E4E; text-align: justify;">Jeśli jednak zdecydujesz się na zakup pełnej wersji, otrzymasz dostęp do wielu dodatkowych funkcji. Będziesz mógł/mogła indywidualnie dostosować swój zestaw ćwiczeń do swoich potrzeb, zapisać go do pliku pdf oraz korzystać z funkcji historii treningów, która będzie w pełni interaktywna i dynamiczna, aby jeszcze bardziej zwiększyć Twoją motywację do regularnego treningu.</p>
    <p style="color: #4E4E4E; text-align: justify;">Zachęcamy do zapoznania się z pełną wersją naszego zestawu ćwiczeń. Jesteśmy przekonani, że sprosta on Twoim oczekiwaniom i pomoże Ci osiągnąć wymarzoną formę fizyczną!</p>
</div>
<h2>Przykładowy zestaw ćwiczeń: </h2>

<div>

    <h3>Kręcenie rękoma w kółko</h3>
    <p><strong>Kategoria:</strong> Rozgrzewka</p>
    <p><strong>Opis:</strong> Obracaj koła rękami do przodu, potem do tyłu, a na końcu na przemian. Razem 2 minuty.</p>
    <p><strong>Adres strony:</strong> youtube.com</p>
</div>
<div>
    <h3>Krokodylki</h3>
    <p><strong>Kategoria:</strong> Trening właściwy</p>
    <p><strong>Opis:</strong> Stopy rozstawione na szerokość barków, otwarte pod kątem 10-30 stopni, płaskie. 2) Ciężar ciała przeniesiony na pięty (nie odrywają się od ziemi nawet na chwilę). 3) Plecy proste, tułów napięty, głowa w naturalnej pozycji, oczy skierowane do przodu.  Stopy rozstawione na szerokość barków, otwarte pod kątem 10-30 stopni, płaskie. 2) Ciężar ciała przeniesiony na pięty (nie odrywają się od podłoża ani na chwilę). 3) Plecy proste, tułów napięty, głowa w naturalnej pozycji, oczy skierowane do przodu.</p>
    <p><strong>Adres strony:</strong> youtube.com</p>
</div>
<div>
    <h3>Unoszenie hantli z przodu</h3>
    <p><strong>Kategoria:</strong> Trening właściwy</p>
    <p><strong>Opis:</strong> Lekkie hantle, napnij pośladki i podnieś hantle przed siebie</p>
    <p><strong>Adres strony:</strong> brak</p>
</div>
<div>
    <h3>Chodzenie z rękami na drążkach</h3>
    <p><strong>Kategoria:</strong> Trening właściwy</p>
    <p><strong>Opis:</strong> Po biegu przejście na prostych ramionach (wymach) kije (co 2 kije) zaczynasz raz z prawej
        raz z lewej ręki.</p>
    <p><strong>Adres strony:</strong> brak</p>
</div>
<div>
    <h3>Rozciąganie pleców</h3>
    <p><strong>Kategoria:</strong> Rozciąganie</p>
    <p><strong>Opis:</strong> Po treningu uklęknij i opuść ciało. Oprzyj pośladki na nogach, a klatkę piersiową na udach.
        W tej pozie, zwanej "japońskim ukłonem", plecy są wygięte w łuk, co pomaga złagodzić nocne napięcie.
        Możesz rozciągnąć plecy, opierając dłonie na krawędzi stołu lub fotela podczas pochylania się.
        Pamiętaj, aby nie garbić się ani nie garbić ramion.</p>
    <p><strong>Adres strony:</strong> youtube.com</p>
</div>

</body>
</html>