<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocr Exercise Generator - Generator Ćwiczeń</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
   
</head>
<body>
    <header>
        <h1>Ocr Exercise Generator</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Strona główna</a></li>
            <li><a href="create-user.html">Tworzenie użytkownika</a></li>
            <li><a href="user-login.html">Logowanie</a></li>
            <li><a href="without-login.html">Bez logowania</a></li>
            <li><a href="info.html">O nas</a></li>
        </ul>
    </nav>
    <main>
        <h1 style="text-align: center;">Twój plan treningowy</h1>
        <p>Tutaj znajdziesz wygenerowany plan treningowy na podstawie wybranego poziomu zaawansowania.</p>
        <ul id="exerciseList">
               <!-- Tu zostaną wygenerowane ćwiczenia -->
        </ul>
    </main>
    <script>
    </script>
</body>
</html>