<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
</head>
<body>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="#">
                <button type="button" class="btn btn-info btn-round mr-2">
                    Login
                </button>
            </a>
            <a href="user/new">
                <button type="button" class="btn btn-info btn-round">
                    Register
                </button>
            </a>
        </div>
    </div>
</div>
<h1>HomePage</h1>
</body>
</html>
