<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocr Exercise Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <style>
        header {
    background-image: url('https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/template_background/44380/a6e9ca3112fda15ca98cbba9f428660e.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px; 
}
    </style>
</head>
<body>
    <header>
        <h1>Ocr Exercise Generator</h1>
    </header>
    <div th:if="${param.successMessage != null}" class="alert alert-success" th:text="${param.successMessage}"></div>
    <nav>
        <ul>
            <li><a href="/demo">Demo</a></li>
            <li><a href="/user/login">Logowanie</a></li>
            <li><a href="/user/new">Rejestracja użytkownika</a></li>
            <li><a href="/calendar">Kalendarz imprez</a></li>
            <li><a href="/info">O nas</a></li>
        </ul>
    </nav>
    <main>

    </main>
</body>
</html>