<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java-Fanatics - Informacje</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Java-Fanatics - Informacje</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/user/new">Rejestracja użytkownika</a></li>
            <li><a href="/user/login">Logowanie</a></li>
            <li><a href="/info">O nas</a></li>
        </ul>
    </nav>
    <main>
        <img class="team-photo" src="/images/team_photo.jpg" alt="Zdjęcie zespołu Java-Fanatics">
        <p class="centered-text">
            Java-Fanatics to grupa pasjonatów programowania w języku Java, składająca się z czterech utalentowanych programistów: Piotrka Jackowskiego, Jacka Kujawy, Piotrka Manikowskiego i Adama Trzcińskiego. Wspólnie tworzą aplikacje i projekty związane z Java, wymieniają się doświadczeniami oraz uczą się nowych technologii.
        </p>
        <p class="centered-text">
            Piotrek Manikowski jest ekspertem w dziedzinie Javy. Piotrek Jackowski specjalizuje się w tworzeniu aplikacji webowych z wykorzystaniem Spring Boot. Jacek Kujawa jest odpowiedzialny za integrację GSON oraz zewnętrznych pluginów np. PDF. Adam Trzciński to programista z doświadczeniem w tworzeniu aplikacji konsolowych oraz frontendowych.
        </p>
        <p class="centered-text">
            Razem jako Java-Fanatics, tworzą niezwykle efektywny zespół, dążą do osiągnięcia sukcesu w każdym projekcie, którym się zajmują. Wspólnie dzielą się wiedzą i umiejętnościami, aby ciągle rozwijać się jako programiści i twórcy oprogramowania.
        </p>
    </main>
</body>
</html>
