<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Losowy zestaw ćwiczeń</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<div th:if="${param.successMessage != null}" class="alert alert-success" th:text="${param.successMessage}"></div>
<nav>
    <ul>
        <li><a th:href="@{/{id}/exercises/random(id=${id})}" th:text="'Wygeneruj losowy zestaw ćwiczeń'"></a></li>
        <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a></li>
    </ul>
</nav>
<div id="space"></div>
<form method="get" th:action="@{/generate-pdf}">
    <input type="hidden" th:each="exercise : ${randomExercises}"
           th:name="exerciseIds" th:value="${exercise.exerciseId}">
    <button type="submit" id="pdfbutton" class="btn btn-primary">Zapisz jako PDF</button></form>
<div class="exercise" th:each="exercise : ${randomExercises}">
    <h3 class="title" th:text="${exercise.exerciseName}"></h3>
    <p><strong>Kategoria:</strong> <span th:text="${exercise.exerciseCategory.getDescription()}"></span></p>
    <p><strong>Opis:</strong> <span th:text="${exercise.description}"></span></p>
    <p><iframe width="420" height="315" th:src="${exercise.url}" title="YouTube video player"
               frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
               gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
</body>
</html>