<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a></li>
    </ul>
</nav>
<div id="space"></div>
<div class="form-container">
    <form method="post" th:action="@{/user/{id}/edit(id=${id})}" th:object="${user}">
        <input type="number" hidden="true" th:field="*{userId}">
        <input type="number" hidden="true" th:field="*{userName}">
        <input type="number" hidden="true" th:field="*{userEmail}">
        <input type="number" hidden="true" th:field="*{userAdvancementLevel}">
        <h2>Zmień hasło</h2>
        <div class="form-group">
            <label for="input-password">Stare hasło</label>
            <input type="password" id="input-password" name="password" th:field="*{userPassword}" required>
        </div>
        <div class="form-group">
            <label for="input-new_password">Nowe hasło</label>
            <input type="password" id="input-new_password" name="confirm-password" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="input-confirm_new_password">Powtórz nowe hasło</label>
            <input type="password" id="input-confirm_new_password" name="confirm-password" th:field="*{userPassword}" minlength="6" required>
        </div>
        <div id="error" th:text="${usernameAlreadyTaken}"></div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
</body>
</html>