<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj profil</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10" style="width: 100% !important; padding-right: 50px">
                <div class="main-navigation">
                    <nav class="header-menu">
                        <ul class="menu">
                            <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="main-banner" id="login-container">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-container">
                        <form method="post" th:action="@{/user/{id}/editdetails(id=${id})}" th:object="${user}">
                            <input type="number" hidden="true" th:field="*{userId}">
                            <input type="text" hidden="true" th:field="*{userPassword}">
                            <h2>Zmień dane</h2>
                            <div class="form-group">
                                <label for="input-userName">Nazwa użytkownika</label>
                                <input type="text" id="input-userName" name="userName" th:field="*{userName}" required>
                            </div>
                            <div id="error" th:text="${usernameAlreadyTaken}"></div>
                            <div class="form-group">
                                <label for="input-email">Adres email</label>
                                <input type="email" id="input-email" name="email" th:field="*{userEmail}"
                                       PATTERN="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                            </div>
                            <div id="error2" th:text="${userEmailAlreadyTaken}"></div>
                            <div class="form-group">
                                <label for="input-userAdvancementLevel">Twój poziom zaawansowania: </label>
                                <select id="input-userAdvancementLevel" name="userAdvancementLevel"
                                        th:field="*{userAdvancementLevel}" required>
                                    <option th:each="level: ${availableUserAdvancementLevel}"
                                            th:text="${level.description}"
                                            th:value="${level.name()}"/>
                                </select>
                            </div>
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>