<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/user/login">Logowanie</a></li>
        <li><a href="/info">O nas</a></li>
    </ul>
</nav>
<div id="space"></div>
<div class="form-container">
    <form method="" th:action="@{/user/new}" th:object="${user}">
        <h2>Edycja profilu</h2>
        <div class="form-group">
            <label for="input-userName">Nazwa użytkownika</label>
            <input type="text" id="input-userName" name="userName" th:value="*{userName}" th:field="*{userName}" required>
        </div>
        <div id="error" th:text="${usernameAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-email">Adres email</label>
            <input type="email" id="input-email" name="email" th:value="*{userEmail}" th:field="*{userEmail}" PATTERN="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
        </div>
        <div id="error2" th:text="${userEmailAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-password">Hasło</label>
            <input type="password" id="input-password" name="password" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="input-confirm_password">Powtórz hasło</label>
            <input type="password" id="input-confirm_password" name="confirm-password" th:field="*{userPassword}" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="input-userAdvancementLevel">Twój poziom zaawansowania: </label>
            <select id="input-userAdvancementLevel" name="userAdvancementLevel" th:value="*{userAdvancementLevel}" th:field="*{userAdvancementLevel}" required>
           <option th:each="level: ${availableUserAdvancementLevel}"
                   th:text="${level.description}"
                   th:value="${level.name()}"/>
            </select>
        </div>
        <input type="number" hidden="true" th:field="*{userId}">
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
</div>
</body>
</html>
