<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuń profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a></li>
    </ul>
</nav>
<div id="space"></div>
    <form id="confirmdelete" method="get" th:action="@{/user/{id}/delete(id=${id})}">
        <h2>Przykro nam że odchodzisz</h2>
            <label for="reason">Twoja opinia jest dla nas ważna. Powiedz nam co możemy zrobić lepiej</label>
            <textarea id="reason" name="reason" rows="4" cols="50"></textarea>
        <button type="submit" class="btn btn-primary">Usuń profil</button>
    </form>
</body>
</html>