<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <h1>Ocr Exercise Generator</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{/userpanel/{id}(id=${id})}" th:text="'Powrót'"></a></li>
    </ul>
</nav>
<div id="space"></div>
<form method="get" th:object="${user}" th:action="@{/{id}/profile(id=${id})}">
    <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
             class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3" th:text="*{userName}"></h5>
        <p class="text-muted mb-1" th:text="*{userEmail}"></p>
        <p class="text-muted mb-1" th:text="*{userAdvancementLevel}"> </p>
    </div>
</form>
</body>
</html>