<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usun profil</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10" style="width: 100% !important; padding-right: 50px">
                <div class="main-navigation">
                    <nav class="header-menu">
                        <ul class="menu">
                            <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="main-banner" id="login-container">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-container" style="width: 550px !important;">
                        <form id="confirmdelete" method="get" th:action="@{/user/{id}/delete(id=${id})}">
                            <h2>Przykro nam że odchodzisz..</h2>
                            <label for="reason" style="width: 450px !important;">Twoja opinia jest dla nas ważna. Co możemy zrobić
                                lepiej?</label>
                            <textarea id="reason" name="reason" rows="4" cols="50"></textarea>
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary">Usuń profil</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>