<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasla</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<header class="site-header">
    <div th:if="${param.successMessage != null}" class="alert alert-success" th:text="${param.successMessage}"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10" style="width: 30% !important">
                <div class="main-navigation" style="justify-content: flex-end">
                    <nav class="header-menu">
                        <ul class="menu">
                            <li><a th:href="@{/user/{id}/userpanel(id=${id})}" th:text="'Powrót'"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:if="${param.successMessage != null}" class="alert alert-success" th:text="${param.successMessage}"></div>


<section class="main-banner" id="login-container">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-container">
                        <form method="post" th:action="@{/user/{id}/editpassword(id=${id})}" th:object="${user}">
                            <input type="number" hidden="true" th:field="*{userId}">
                            <input type="text" hidden="true" th:field="*{userName}">
                            <input type="text" hidden="true" th:field="*{userEmail}">
                            <input type="text" hidden="true" th:field="*{userAdvancementLevel}">
                            <h2>Zmień hasło</h2>
                            <div id="error" th:text="${wrongPassword}"></div>
                            <div class="form-group">
                                <label for="input-password">Obecne hasło</label>
                                <input type="password" id="input-password" name="userCurrentPassword" required>
                            </div>
                            <div id="error2" th:text="${userPasswordsDoNotMatch}"></div>
                            <div class="form-group">
                                <label for="input-new_password">Nowe hasło</label>
                                <input type="password" id="input-new_password" name="userPassword"
                                       th:field="*{userPassword}" minlength="6" required>
                            </div>
                            <div class="form-group">
                                <label for="input-confirm_new_password">Powtórz nowe hasło</label>
                                <input type="password" id="input-confirm_new_password" name="confirmPassword"
                                       minlength="6" required>
                            </div>
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>