<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocr Exercise Generator - Bez logowania</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header>
        <h1>Ocr Exercise Generator</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Strona główna</a></li>
            <li><a href="create-user.html">Tworzenie użytkownika</a></li>
            <li><a href="user-login.html">Logowanie</a></li>
            <li><a href="without-login.html">Bez logowania</a></li>
            <li><a href="info.html">O nas</a></li>
        </ul>
    </nav>
    <main>
        <h1 style="text-align: center;">Generuj plan treningowy</h1>
        <form action="exercise-generator.html" method="get">
            <label for="level">Wybierz poziom zaawansowania:</label>
            <select id="level" name="level" required>
                <option value="beginner">Początkujący (50 punktów)</option>
                <option value="intermediate">Średnio zaawansowany (100 punktów)</option>
                <option value="advanced">Zaawansowany (150 punktów)</option>
            </select>
            <button type="submit">Generuj plan treningowy</button>
        </form>
    </main>
</body>
</html>
