.site-header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.container {
    margin-left: 140px !important;
    margin-right: 50px !important;
    max-width: 1600px !important;
}

.main-navigation .menu li a {
    border-radius: 30px;
    color: #dee2e6;
    font-family: 'Poppins', sans-serif;
}

a {
    font-size: 19px;
    text-transform: capitalize;
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
    font-weight: 900;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}


.main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h1-title {
    font-size: 75px;
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
    margin-top: 150px !important;
}

.col-lg-6 {
    margin-left: 160px !important;
    width: 40% !important;
}

.h1-title span {
    color: #20c997;
    background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

h1 {
    color: #3dd5f3;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h2, h3, h4, h5, h6 {
    color: #3dd5f3;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 30px;
}


nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


nav li {
    display: inline;
    margin-right: 30px;
}


label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

li {
    list-style-type: none;
}

.centered {
    text-align: center;
}

.centered-text {
    text-align: left;
    margin: 50px;
}

.title {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.exercise {
    padding: 30px;
    margin-left: 30px;
}

.form-container {
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#error, #error2, #error3, #delete {
    color: red;
}

#space {
    margin-top: 50px;
}

#confirmdelete {
    padding: 20px;
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pdfbutton {
    float: right;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 0;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.alert-success {
    background-color: #c3e6cb;
    color: #155724;
}



