body {
    font-weight: 900 !important;
    color: #dee2e6 !important;
    font-size: 17px !important;
}

.site-header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.container {
    margin-left: 140px !important;
    margin-right: 120px !important;
    max-width: 1500px !important;
}


#login-container {
    padding-top: 120px !important;
}

#exercise-container {
    padding-top: 60px !important;
}

.main-navigation .menu li a {
    border-radius: 30px;
    color: #dee2e6 !important;
    font-family: 'Poppins', sans-serif !important;
}


.main-navigation .menu ul a {
    width: 200px;
}


.main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #dee2e6 !important;
    font-size: 19px !important;
    text-transform: capitalize;
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
    font-weight: 900 !important;
}

.text-muted {
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
}

.col-lg-2 {
    width: 30% !important;
}

.col-lg-6 {
    margin-left: 160px !important;
    width: 40% !important;
}

.col-lg-10 {
    width: 70% !important;
}

h1 {
    color: #3dd5f3;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h2, h3, h4, h5, h6 {
    color: #dee2e6;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
h5{
    color: #dee2e6;
    font-size: 25px !important;
    font-family: 'Playfair Display', serif;
    font-weight: 900 !important;
}

.h1-title span {
    color: #20c997;
    background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.h1-title {
    font-size: 75px;
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
    margin-top: 150px !important;
}

.title {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}


label, input {
    width: 250px;
    display: block;
    margin-bottom: 5px;
}
select {
    width: 130px;
}

.btn {
    padding: 0.4rem 0.75rem;
    background-color: #4f5050 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    align-items: center !important;
    text-align: center !important;
    border: none !important;
    border-radius: 10px !important;
    cursor: pointer !important;
}

.login-button {
    width: fit-content;
    margin-top: 30px;
    margin-inline: auto;
}

form {
    margin: 0 auto !important;
    width: 250px !important;
}

.form-group {
    margin-bottom: 10px;
}

.form-container {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 320px;
    height: auto;
    margin: auto;
    background: rgb(37, 207, 242, 0.40);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container2 {
    padding: 30px;
    width: 350px;
    height: auto;
    margin: 0 auto;
    background: rgb(37, 207, 242, 0.40);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#error, #error2, #error3, #delete {
    color: red;
}

#confirmdelete {
    width: 450px !important;
}

#reason{
    width: 450px !important;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.alert-success {
    background-color: #c3e6cb;
    color: #155724;
}

.event-details {
    margin-bottom: 1rem;
}

.event-formulas {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.event-formula {
    margin-right: 1rem;
}

.event {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.dropdown-menu {
    background-color: transparent !important;
    border: none !important;
}

.rounded-circle {
    width: 250px;
    height: 300px;
}

.nav-link {
    padding: 0 !important;
}

#pdf-button {
    background-color: transparent !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 19px !important;
}


